<div class="modal note-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> <br/>
    <h3 id="modalLabel"><%= simple_format(@note.title) %></h3>
  </div>
  <div class="modal-body">
    <p><%= link_to @note.link, url_with_protocol(@note.link), :target => "_blank" %></p>
    <p><%= simple_format(@note.description) %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>');