<div id="add-to-form" >
<div class="pop-content scrolled">
	<table>
	<% group_list.each do |group| %>	
		<tr>
			<td class="check_box_td"><%= check_box_tag "group_ids[]", group.id %></td>
			<td><%= group.title %></td>
		</tr>
		
	<% end %>
	</table>
</div>
<div class="divider_line btn-group">
	<%= text_field_tag(:group_search_field, nil, :class=>"span2", 
	:placeholder=>"Search", :style=>"margin-left:12px") %>
<div class="pull-right">
	<%= button_tag :class=>"btn btn-primary", :name=>"add_rel_btn" do %>
     		Send
     <% end %> 
 </div>
 </div>
</div>

