#add-to-form table{
	margin: 10px;	
	}
.check_box_td{
		padding-right: 10px;
		padding-bottom: 9px;
	}
.divider_line{
	width: 100%;
	padding-top: 10px;
	margin-left: 0;
	padding-bottom: 20px;
	border-top: 1px solid #e5e5e5;
	}
.divider_line button{
	margin-right: 12px;
	margin-bottom: 10px;	
	}
.popover-content{
	padding: 0;	
	}
	
#add-to-form{
	width: 200px;		
	}
.pop-content{
	max-height: 150px;	
	}
	.scrolled{
		overflow-y: auto;	
		overflow-x: hidden;	
	}
	