.main_panel{
	margin-top: 60px;
	}
.body{
	padding-left: 0;
	padding-right: 0;	
	}
.text_area{
	max-height: 50px;
	width: 97%;	
	}
.text_field{
	width: 97%;	
	}
	
.item_panel{
	display: block;
	margin-bottom: 0;
	border-bottom: 1px solid #e5e5e5;
	}
.notes_list{
	margin-left: 0;	
	}
.note_time{
	color: black;
	margin-right: 10px	
	}
.item_panel a{
   padding-top: 5px;
   padding-bottom: 5px;
   width: 100%;
   display: block;
	text-decoration: none;
}	
.item_panel a:hover{
	background-color: #f5f5f5
}	

.item_mid{
	overflow: hidden;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0;
	}
.item_left{
	padding-left: 10px;
	}

legend{
	text-align: center;
	margin-bottom: 0;
	}
body{
	padding-right: 0;
	padding-left: 0;	
	}
.navbar{
	margin-right: 0;
	margin-left: 0;	
	}
.content_header{
	width: 100%;
	height: 60px;	
	}

.h_li{
	display: list-item;
	list-style-type: none;
	float: left;
}
.h_li_l{
	width: 130px;
}

.h_ul{
	display: block;
	margin-bottom: 0;
}

.ul_row{
	margin-left: 0;
}

.user-btn{
	margin-top: 6px;
	margin-right: 20px;
}

